
.container {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f5f5;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6e08f5;
    color: white;
    padding: 15px 40px;
}

.hamburgger {
    display: none;
    flex-direction: column;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 6px;
    z-index: 100;
}


.hamburgger-line{
    width: 25%;
    height: 3px;
    background-color: var(--text-light);
    margin: 3px 0;
    transition: var(--transition);
}

/* HAMBURGGER  T X*/
.hamburgger.active.hamburgger-line:nth-child(1){
    transform: rotate(45deg) translate(5px, 5px);
}

.hamburgger,.hamburgger.active.hamburgger-line:nth-child(2){
    opacity: 0;
}
.hamburgger.active.hamburgger-line:nth-child(3){
    transform: rotate(-45deg) translate(7px, -6px);
}


.logo1 img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.logo h2 {
    font-weight: 700;
}

.logo span {
    color: rgb(204, 236, 241);
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 8px 15px;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: #06e624;
}

.intro {
    padding: 40px;
    text-align: center;
}

.intro h2 {
    font-size: 28px;
    color: rgb(179, 233, 235);
}

.intro span {
    color: #07032e;
}

.intro p {
    margin-top: 10px;
    color: #333;
}


.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 15px;
    margin-top: 25px;
}

.gallery img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 5px;
}


.delivery {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(63, 55, 92);
    padding: 40px;
    color: #000;
}

.delivery-text {
    flex: 1;
}

.delivery-text h2 {
    font-size: 26px;
    margin-bottom: 10px;
    color: rgb(141, 221, 245);
}

.delivery-text p {
    font-size: 18px;
    font-weight: bold;
}

.delivery-img {
    flex: 1;
    text-align: right;
}

.delivery-img img {
    width: 300px;
    height: auto;
    border-radius: 10px;
}


footer {
    background-color: rgb(35, 4, 121);
    color: white;
    text-align: left;
    padding: 10px;
}
@media (max-width: 768px){
    .hamburgger{
        display: flex;
        width: 58%;
        align-items: flex-end;
        float: left;
    }
}
    